In [ ]:
import pandas as pd
import numpy as np
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.ensemble import RandomForestClassifier
from sklearn import svm
from sklearn.model_selection import cross_val_score

Load data

In [ ]:
#read csv file
data  =  pd.read_csv("https://raw.githubusercontent.com/sreckojoksimovic/infs5100/main/iris.csv")

In [ ]:
data.head(n=5)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [ ]:
#Create Dependent and Independent Datasets based on our Dependent #and Independent features
X  = data[['sepal_length','sepal_width','petal_length']]
y= data['species']

In [ ]:
model = svm.SVC()

accuracy = cross_val_score(model, X, y, scoring='accuracy', cv = 10)

print(accuracy)

[0.93333333 0.93333333 1.         1.         0.93333333 0.8
 0.93333333 0.93333333 1.         1.        ]

In [ ]:
#get the mean of each fold
print("Accuracy of Model with Cross Validation is:",accuracy.mean() * 100)

Accuracy of Model with Cross Validation is: 94.66666666666667